* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: tomato;
    display: flex;
    flex-direction: row;
}

.item {
    width: 200px;
    height: 200px;
    background-color: #000;
    color: #fff;
    font-size: 32px;
    border: 2px solid red;

    /* text-align: center;
    line-height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
}